.tasks_tag {
  margin-top: 12px;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  padding: 4px 8px;
  border-radius: 4px;
}

.tasks_left {
  color: #ffff;
  background-color: rgb(228, 92, 74);
}
.tasks_done {
  color: #ffff;
  background-color: #3aaf3c;
}
