@import "../init/init";
.task_manager {
  margin-top: 12px;
  .task_tag {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    padding: 4px 8px;
    border-radius: 4px;
    color: #ffff;
  }

  .task_left {
    background-color: rgb(231, 100, 76);
  }

  .task_done {
    margin-right: 4px;
    background-color: $color_task_done;
  }
}
