@import "../init/init";
.task {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #ffff;
  padding: 12px 12px;
  border-radius: 4px;
  transition: 0.3s;

  .task_checkbox {
    transform: scale(calc(16 / 13));
    @include Responsive(tablet) {
      transform: scale(calc(18 / 13));
    }
    @include Responsive(pc) {
      transform: scale(calc(18 / 13));
    }
  }

  .task_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .task_title {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    line-height: calc(22 / 18);
    color: black;
  }

  .task_createTime {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    margin-top: 8px;
  }

  .task_btn {
    display: flex;
    gap: 8px;

    .task_btn_action {
      cursor: pointer;
      opacity: 0.6;
    }

    .task_btn_action:hover {
      opacity: 1;
    }
  }
}

.line-through {
  text-decoration: line-through;
}

.task_completed {
  background-color: $color_task_done;
}
