.task_manager {
  margin-top: 12px;
  .task_tag {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .task_left {
    color: #ffff;
    background-color: rgb(228, 92, 74);
  }

  .task_done {
    color: #ffff;
    background-color: #3aaf3c;
  }
}
