.task {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #ffff;
  padding: 12px 12px;
  border-radius: 4px;
  transition: 0.3s;

  .task_checkbox {
    transform: scale(calc(18 / 13));
  }

  .task_content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .task_title {
    width: 100%;
    outline: none;
    border: none;
    background: none;
    font-size: 18px;
    font-weight: 600;
    color: black;
    resize: none;
    height: 20px;
  }

  .task_createTime {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
  }

  .task_btn {
    display: flex;
    justify-content: right;
    min-width: 48px;
    .task_btn_edit {
      cursor: pointer;
      opacity: 0.6;
    }

    .task_btn_edit:hover {
      opacity: 1;
    }

    .task_btn_delete {
      margin-left: 8px;
      cursor: pointer;
      opacity: 0.6;
    }

    .task_btn_delete:hover {
      opacity: 1;
    }

    .task_btn_save {
      background-color: rgb(56, 120, 240);
      color: #ffff;
      padding: 4px 8px;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.3s;
      margin-left: 8px;
    }

    .task_btn_save:hover {
      background-color: rgb(37, 103, 226);
      opacity: 1;
    }
  }
}

.line-through {
  text-decoration: line-through;
}

.task_completed {
  background-color: #3aaf3c;
}

.task_error {
  display: block;
  margin-top: 4px;
  margin-bottom: 12px;
  color: red;
  font-size: 12px;
  font-weight: 300;
}
