@import "./common/mixins/media";
.app {
  background-color: #ecedf6ff;
  min-height: 100vh;
  padding: 40px 12px;

  @include Responsive(tablet) {
    padding: 80px 80px;
  }

  @include Responsive(pc) {
    padding: 100px 200px;
  }

  .app_title {
    font-size: 38px;
    text-align: center;
    text-shadow: -1px 0 rgb(47, 113, 237), 0 1px rgb(47, 113, 237),
      1px 0 rgb(47, 113, 237), 0 -1px rgb(47, 113, 237);
    margin-bottom: 2rem;
  }
}

// custom scroll bar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: rgb(218, 216, 216);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(155, 154, 154);
}
