.App {
  width: 500px;
  min-height: 70vh;
  padding: 40px 24px;
  border-radius: 8px;
  position: fixed;
  top: 40px;
  right: 50%;
  transform: translateX(50%);
  background-color: #ecedf6ff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px;
}
