@import "../../common/mixin/media";
.task_list {
  margin-top: 32px;
  //   max-height: calc(100vh - 280px);
  //   overflow-y: auto;
  background-color: #ecedf6ff;

  @include Responsive(pc) {
    max-height: unset;
    overflow-y: unset;
  }
}
